*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    cursor: pointer;
    font-size: 1.5rem;
    padding: .75rem 1.25rem;
    color: #fff;
    background-color: #AC557E;
    border-radius: 3px;
    transition: all 200ms;

    &:hover {
        background-color: #C23276;
    }
}

.in {
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-bottom: 1px solid #AC557E;
}

.icon-search {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    fill: #C23276;
  }

.header {
    display: flex;
    justify-content: flex-end;
    background-color: #c3c3c3;
    padding: 4px 1rem;
    margin-bottom: 1rem;

    input {
        display: none;
    }
}

.main {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    margin: 0 auto;
}

.edit-area {
    display: flex;
    flex-flow: column;
    width: 100%;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        a {
            margin-left: 1rem;
            font-size: 1.25rem;
        }
    }

    .page {
        display: flex;
        padding: 0 1rem;
        h1 {
            color: #C23276;   
        }

        a {
            margin: 0 1rem;
        }
    }

    .hide {
        opacity: 0;
    }

    &__content {
        width: 100%;

        input {
            width: 10.5rem;
        }

        table {    
            display: block;
            overflow-x: auto;
            white-space: nowrap;
            width: 100%;

            th {
                font-size: 1.25rem;
                text-align: left;
            }

            td, th {
                padding: .5rem;
            }
        }
    }
}

